###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.*.loc
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea/
